.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.adminTable{
    border-collapse: collapse;
}

.adminTable td{
  padding: 10px 30px;
  border: 1px solid darkgrey;
}

.adminTable th{
  padding: 10px 30px;
  border: 1px solid darkgrey;
  background-color: lightgray;
}

.flagged {
  background-color: lightcoral;
}
